{% extends 'portfolio/base.html' %}

{% block name %}Home{% endblock %}

{% block content %}


<div id="index-wrapper">
	<div id="index-message">
		<h1 id="index-header">Kalu Awa</h1>
		<p>Kalu Awa &nbsp;<span class="index-em" id="name"></span> ,
			<br> PLACEHOLDER &nbsp;<span class="index-em" id="job"></span> !</p>
	</div>
</div>


{% load static %}


		<h1>Technologies</h1>
		<div class="technologies">
<!--			<img src="../static/portfolio/images/html5-logo.png" class="tech-icons">-->
<!--			<img src="{% static 'portfolio/images/html5-logo.png' %}">-->
			<img src="{% static 'https://www.w3schools.com/images/w3schools_green.jpg' %}" alt="Hi!" />
<!--            <img src="images/css3-logo.png" class="tech-icons">-->
<!--            <img src="images/js-logo.svg" class="tech-icons">-->
<!--            <img src="images/reactjsicon.png" class="tech-icons">-->
<!--            <img src="images/node-js-logo.png" class="tech-icons">-->
<!--            <img src="images/expressjs.png" class="tech-icons">-->
<!--            <img src="images/mongodb.png" class="tech-icons">-->
<!--            <img src="images/python-logo.png" class="tech-icons">-->
		</div>
		<div class ='tech-list'>
			<ul>
				<li>HTML5</li>
				<li>CSS3</li>
				<li>Javascript</li>
				<li>React</li>
            	<li>Node JS</li>
            	<li>Express JS</li>
            	<li>MongoDB</li>
				<li>PostgresSQL</li>
			</ul>
		</div>

{% endblock %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<style>

	</style>
    <meta charset="UTF-8">
<!--	<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title>Kalu HomePage</title>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--	<script type="text/javascript" src="{% static 'portfolio/scripts.js' %}"></script>-->

</head>








<body>

    <div id="content">
		<nav>

			<li id="home-nav" class="{% if classhome %}{{classhome}}{% else %}main-nav{% endif %}"><a href="{% url 'index' %}">HOME</a> /</li>
			<li class="{% if classprojects %}{{classprojects}}{% else %}main-nav{% endif %}" id="projects-nav"><a href="{% url 'projects' %}">PROJECTS</a> /</li>
			<li class="{% if classresume %}{{classresume}}{% else %}main-nav{% endif %}" id="resume-nav"><a href="{% url 'resume' %}">RESUME</a> /</li>
			<li class="{% if classabout %}{{classabout}}{% else %}main-nav{% endif %}" id="about-nav"><a href="{% url 'about' %}">ABOUT</a></li>
			{# <li class="{% if classcontact %}{{classcontact}}{% else %}main-nav{% endif %}" id="contact-nav"><a href="{% url 'contact' %}">CONTACT</a></li> #}
		</nav>

    </div>


</body>
</html>